<% provide(:title, 'Fun Games') %>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li> <%= link_to "Home", static_pages_home_path %> </li>
                <li> <%= link_to "About", static_pages_help_path %> </li>
                <li> <%= link_to "Projects", static_pages_exproj_path %> </li>
                <li> <%= link_to "Resume", static_pages_resume_path %> </li>
                <li class="active"> <%= link_to "Fun", static_pages_fun_path %> </li>
            </ul>
        </div>
    </div>
	  <section id="intro">
		    <header>
			  <h2><strong>Fun:</strong> Games</h2>
		    </header>
		    <p> Pretty much just talking about video games. SUPPORT STEAM ON LINUX! Ehem. </p>
	  </section>
	
	  <section id="content">
	      <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <ul class="nav nav-list">
                        <li class="nav-header"><a href="fun.html">Home</a></li>
                        <li><a href="subFunBooks"><i class="icon-book"></i> Books</a></li>
                        <li class="active"><a href="#"><i class="icon-facetime-video"></i> Games</a></li>
                        <li><a href="subFunComics"><i class="icon-comment"></i> Comics</a></li>
                        <li><a href="subFunEtc"><i class="icon-star"></i> Etc</a></li>
                    </ul>
                </div>
            <div class="span10">

                </div>
            </div>
        </div>
	</section>
</body>