<!DOCTYPE html>
<html>
<head>
  <title>Liesl Wigand: Computer Scientist, Graduate Student | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <script type="text/javascript" src="javascripts/bootstrap.js"></script>
  <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
  <link rel="stylesheet" href="styles.css" type="text/css" media="screen" />
  <link rel="stylesheet" type="text/css" href="print.css" media="print" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
  <script type="text/javascript" src="js/equalcolumns.js"></script> 
</head>
<body>
	<header>
		<h1>Liesl Wigand: In Progress</h1>
	</header>
	<nav>
		<ul>
			<li><a href="index">Home</a></li>
			<li><a href="help">About</a></li>
			<li><a href="exproj">Projects</a></li>
			<li><a href="resumepg">Resum&eacute;</a></li>
			<li class="selected"><a href="#">Fun</a></li>
		</ul>
	</nav>

<%= yield %>


	<footer>
    <section>
    <h3>Hosted by:</h3>
    <p><a href="http://cse.unr.edu">University of Nevada Reno Computer Science Department. <p>&copy; 2010 <a href="http://www.cse.unr.edu/~lieslw/" title="Liesl Wigand">http://www.cse.unr.edu/~lieslw/.com</a> All rights reserved.</p></a></p>
    <p>
    	<a href="https://www.heroku.com">Heroku Cloud Application Platform</a> All rights Reserved.
    </p>
    </section>
    
    <section>
    <h3>Built with:</h3>
    <p>Standard HTML, and some bootstrap features.</p>
    </section>
    
    <section>
    <h3>Images from:</h3>
    <p>Also: Art by various deviantart Artists: <a href="http://kutsche.deviantart.com/">Selfillumination, by Kutsche</a>; <a href="http://thompson46.deviantart.com">It's my Flower, by Thompson</a>; <a href="http://randis.deviantart.com">GOLEM - toys and magic, by ~randis</a>; <a href="http://jujika.deviantart.com">The Workstation2, by ~Jujika</a>; <a href="http://oddocean.deviantart.com">Warm, by ~oddocean</a>; <a href="http://freaky665.deviantart.com">Lust for Love, by *freaky665</a>; <a href="http://begemott.deviantart.com">the exchange of flowers-color, by *begemott</a> <!--:Saved:images/5-thumb.jpg, images/7-thumb.jpg--> </p>
    </section>

	</footer>
</body>
</html>
