<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
    <script type="text/javascript" src="javascripts/equalcolumns.js"></script> 
</head>
<body>
	  <header>
		    <h1>Liesl Wigand: In Progress</h1>
	  </header>

<%= yield %>

  <footer>
      <div class="container-fluid">
          <div class="span4">
            <h3>Hosted by:</h3>
            <p><a href="http://cse.unr.edu">University of Nevada Reno Computer Science Department. <p>&copy; 2010 <a href="http://www.cse.unr.edu/~lieslw/" title="Liesl Wigand">http://www.cse.unr.edu/~lieslw/.com</a> All rights reserved.</p></a></p>
            <p><a href="https://www.heroku.com">Heroku Cloud application Platform<p>&copy; 2010 <a href="#" title="Liesl Wigand">http://www.cse.unr.edu/~lieslw</a> All rights reserved.</p></a></p>
          </div>

            
          <div class="span4">
            <h3>Built with:</h3>
            <p>Standard HTML, and some bootstrap features.</p>
          </div>
            
          <div class="span4">
            <h3>Images from:</h3>
            <p>Also: Art by various deviantart Artists: <a href="http://kutsche.deviantart.com/">Selfillumination, by Kutsche</a>; <a href="http://thompson46.deviantart.com">It's my Flower, by Thompson</a>; <a href="http://randis.deviantart.com">GOLEM - toys and magic, by ~randis</a>; <a href="http://jujika.deviantart.com">The Workstation2, by ~Jujika</a>; <a href="http://oddocean.deviantart.com">Warm, by ~oddocean</a>; <a href="http://freaky665.deviantart.com">Lust for Love, by *freaky665</a>; <a href="http://begemott.deviantart.com">the exchange of flowers-color, by *begemott</a> <!--:Saved:images/5-thumb.jpg, images/7-thumb.jpg--> </p>
          </div>
      </div>
  </footer>
</body>
</html>
